<body>
      <div class="sidebar">
        <div class="logo-details">
          <i class=></i>
          <span class="logo_name">Gerenciador de Tarefas</span>
        </div>
          <ul class="nav-links">
            <li>
              <a href="#">
                <i class='bx bx-box' ></i>
                <span class="links_name">Criar Tarefas</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class='bx bx-coin-stack' ></i>
                <span class="links_name">Histórico de Tarefas</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Configurações</span>
              </a>
            </li>
            <li class="log_out">
              <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Login</span>
              </a>
            </li>
          </ul>
      </div>
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Menu</span>
          </div>
          <div class="search-box">
            <input type="text" placeholder="Pesquisar...">
            <i class='bx bx-search'></i>
          </div>
          <div class="profile-details">
            <span class="admin_name">Marcelo Augusto</span>
            <i class='bx bx-chevron-down' ></i>
          </div>
        </nav>
        <div>
            <div class="page-content-container">
                <router-outlet></router-outlet>
            </div>
        </div>
      <script>
       let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
      if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
     </script>
<body>


